@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro|Maven+Pro:900|Maven+Pro:400");
:root {
  --bg-color: #fff5fd;
  --squiggle-color: #ffeafc;
  --grad-color1: #a4a4d6;
  --grad-color2: #ff6fa4;
  --h2-color: #9d2bff; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px; }

img {
  width: 100%;
  margin: 0 auto; }

ul,
li,
body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 10vw; }

@-webkit-keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

body {
  line-height: 1.6;
  font-size: 12px; }

@media screen and (min-width: 480px) {
  body {
    font-size: 14px; } }

@media screen and (min-width: 800px) {
  body {
    font-size: 16px; } }

h1, h2, h3 {
  font-family: 'Maven Pro', sans-serif; }

p,
a,
ol,
ul,
li {
  font-family: 'Anonymous Pro', monospace; }

ol, ul {
  margin: 2em;
  margin: 0 auto;
  font-size: 1.3em; }

li + li {
  margin-top: .5em; }

p {
  font-size: 1.3em; }

p {
  padding: 1em; }

h1 {
  text-align: center;
  font-size: 3em;
  color: var(--grad-color2);
  background: -webkit-gradient(linear, left top, right top, from(var(--grad-color1)), to(var(--grad-color2)));
  background: linear-gradient(to right, var(--grad-color1), var(--grad-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  letter-spacing: 0.025em; }

h2 {
  font-weight: 600;
  color: var(--h2-color);
  font-size: 1.4em;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy; }

h3,
footer {
  color: #676767;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  h3:before, h3:after,
  footer:before,
  footer:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block; }
  h3:after,
  footer:after {
    background: linear-gradient(45deg, var(--grad-color1), var(--grad-color2)); }
  h3:before,
  footer:before {
    background: linear-gradient(45deg, var(--grad-color2), var(--grad-color1)); }

.download-link {
  margin: 0 auto 2em;
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.3em; }
  .download-link::before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 1.1em;
    background: -webkit-gradient(linear, left top, right top, from(var(--grad-color1)), to(var(--grad-color2)));
    background: linear-gradient(to right, var(--grad-color1), var(--grad-color2));
    display: block;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0.5em) translateY(0.6em);
            transform: translateX(0.5em) translateY(0.6em);
    opacity: .5;
    position: absolute;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
  .download-link:hover::before {
    -webkit-animation: rainbow 2s infinite linear;
            animation: rainbow 2s infinite linear;
    -webkit-transform: translateX(-0.5em) translateY(0.1em);
            transform: translateX(-0.5em) translateY(0.1em); }

.underline {
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: var(--grad-color2);
          text-decoration-color: var(--grad-color2);
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy; }

footer a {
  font-size: 1em; }

footer {
  text-transform: lowercase; }
